test.py
data/
oca_catalogs/
src/__pycache__/
**/*.csv
**/*.json
scripts/out
**/__pycache__/
**/log/*
.coverage
log/*
!xoloapi/log/*.py
*.lock
.env.prod
.claude
CLAUDE.md
idea.md
site/
.cach
.pytest_cache/
./log/*